<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Liderança - Condomínio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Financeiro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Boleto</a>
          <a class="dropdown-item" href="#">Saldo</a>
          <div class="dropdown-divider">Balancete</div>          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Dados da Unidade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Atas de Reunião</a>
      </li>            
    </ul> 
    <form class="form-inline my-2 my-lg-0">      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>   
  </div>
</nav>